ErrorDocument 400 /assets/errors/400.php
ErrorDocument 401 /assets/errors/401.php
ErrorDocument 403 /assets/errors/403.php
ErrorDocument 404 /assets/errors/404.php
ErrorDocument 503 /assets/errors/503.php
ErrorDocument 500 /assets/errors/500.php
ErrorDocument 504 /assets/errors/504.php
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
