ErrorDocument 403 /assets/errors/403.html
ErrorDocument 404 /assets/errors/404.html
ErrorDocument 500 /assets/errors/500.html
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
